.resume {
   width: 90%;
   background: #e7e7e7;
   margin: auto;
   margin-top: 12.70vh;
   display: flex;
   flex-direction: column;
}

.resume__header {
   padding: 0 5%;
}

.resume__content {
   padding: 0 10% 50px 10%;
   margin: auto;
   margin-top: 10vh;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   max-width: 100%;
}

.resume__header__h2 {
   font-size: 40px;
}

/* .resumeCard {
   padding: 20px;
   background: #ebf0f3;
   color: #000000;
   border-radius: 6px;
   margin: 40px 0;
   box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
   transition: transform .3s;
} */


.resumeCard {
   padding: 20px;
   background: #ebf0f3;
   color: #000000;
   border-radius: 6px;
   margin: 40px 0;
   box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
   transition: transform .3s;
   border: 10px solid #ebf0f3;
}





.resumeCard:hover {
   /* background: #5A93B9; */
   /* border-color: #4AC3FF; */
   /* border-color: #5A93B9; */

   animation: scaleCourseCard .5s ease-in-out;
}

.resumeCard__description {
   color: rgb(0, 0, 0);
   transition: 0s;
}

/* .resumeCard:hover .resumeCard__description {
   color: #fff;
} */

@keyframes scaleCourseCard {
   0% {
      transform: rotate(-1deg);
   }
   40% {
      transform: rotate(1deg);
   }
   80% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(0deg);
   }
}


.resumeCard__header__title {
   margin-bottom: 20px;
}   

/* .resumeCard__header__title__h4 {
   font-size: 1.8vw;
   display: inline-block;
   padding: 10px 20px 10px 0px;
   font-family: serif;
} */

.resumeCard__header__title__h4 {
   font-size: 1.8vw;
   display: inline-block;
   padding: 10px 20px 10px 0px;
   font-family: serif;
   border-bottom: 3px solid black;
   margin-bottom: 10px;
}

.resumeCard:hover .resumeCard__header__title__h4 {
   /* color: #4AC3FF; */
}

.resume__content__left {
   padding: 26px;
   border-bottom: 1px solid #e3e9ed;
}

.resumeCard__description {
   font-size: 18px;
   transition: 0.5s;
   line-height: 1.4;
   font-family: serif;
}


