@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ebf0f3;
  min-width: 320px;
  width: auto;
  max-width: 1400px;
}

body * {
  text-decoration: none;
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

.btn_shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 20px;
  padding: 20px 28px;
}

.btn_shadow:hover {
  background: #5A93B9;
  color: #fff;
}
