/* ========================================== */
/* ========================================== */
/* ========================================== */
/* @import url('https://fonts.googleapis.com/css?family=Poppins:400'); */

html {font-size: 100%;} /*16px*/

body {
  /* background: white; */
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  /* margin: 20px 0 10px; */
  font-family: 'Poppins', sans-serif;
  /* font-weight: 400; */
  line-height: 1.4;
}

/* h1 {
  margin-top: 0;
  font-size: 4.209rem;
} */

h1 {
   margin-top: 0;
   /* font-size: 3.157rem; */
   font-size: 5.4vw;
   /* font-size: clamp(35px, 4.39vw, 60px); */
}


h2 { font-size: 2.9vw; }

h3 { font-size: 1.333rem; }

h4 { font-size: 1.8vw; }

small, .text_small { font-size: 0.75rem;
}



.hero__left__h1 {
   color: #333;
   /* font-size: 5.4vw; */
}

.hero__left__h1 span {
   color: #ff014f;
}

.hero__left__h2{
   font-weight: 100;
   letter-spacing: 2px;
   font-size: 2.1vw;
   color: #ff014f;
}

.hero__left__h2 span {
   color: #000000;
}

.hero__left__p {
   color: #878e99;
   line-height: 30px;
   width: 90%;
   margin-top: 2vw;
   margin-bottom: 2vw;
}

.portfolio__project__header__h4 {
   font-size: 18px;
   color: #898b8f;
}



.features  h2 {  margin: 20px 0 20px 0;  }

@media (max-width: 1111px) {
   .feature__header__h4 {
      font-size: 20px;
   }
}


@media (max-width: 1000px) {
   h2 {
      font-size: 30px;
   }
}